<!DOCTYPE html>
<html>
<head>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Smooth scrolling animation
      document.querySelectorAll('a[href^="#"]').forEach(function(anchor) {
        anchor.addEventListener('click', function(e) {
          e.preventDefault();

          var destination = document.querySelector(this.getAttribute('href'));
          var offsetTop = destination.offsetTop;

          window.scrollTo({
            top: offsetTop,
            behavior: 'smooth'
          });

          var currentActive = document.querySelector('.right-ul .active');
          if (currentActive) {
            currentActive.classList.remove('active');
          }
          this.classList.add('active');
        });
      });
    });
  </script>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel = "stylesheet" href="static/gpce-frontend.css">
</head>
<body>
  <div id="top"></div>
  <nav>
    <ul class="left-ul">
      <li> <a href="#top"> <strong>INTERPRETATING COUNTY-LEVEL COVID INFECTIONS </strong></a></li>
    </ul>

    <ul class="right-ul">
      <li><a href="#INTRODUCTION">INTRO</a></li>
      <li><a href="#DATA">DATA</a></li>
      <li><a href="#GOAL">GOAL</a></li>
      <li><a href="#EXPERIMENTS">EXPERIMENTS</a></li>
      <li><a href="#RESULTS">RESULTS</a></li>
      <li><a href="#INTERPRETATION">INTERPRETATION</a></li>
      <li><a href="#TEAM">TEAM</a></li>
    </ul>
  </nav>

  <section id="INTRODUCTION">
    <h1>Section 1</h1>
  </section>

  <section id="DATA">
    <h1>Section 2</h1>
  </section>

  <section id="GOAL">
    <h1>Section 3</h1>
  </section>

  <section id="EXPERIMENTS">
    <h1>Section 3</h1>
  </section>

  <section id="RESULTS">
    <h1>Section 3</h1>
  </section>

  <section id="INTERPRETATION">
    <h1>Section 3</h1>
  </section>

  <section id="TEAM">
    <h1>Section 3</h1>
  </section>

</body>
</html>

